# .gitignore
*~
*.pyc
docs/build/
# stuff specific to instances
pyment/settings_local.py
*.sqlite3
.env
# temporary!
media.tar
pyment_db.bak
# test detritus
ghostdriver.log
# coverage
.coverage
htmlcov/
