{% extends 'meadery.html' %}

{% load staticfiles %}

{% block content %}
	<div class="product_image" >
		<img src="{% if p.image %}{{ p.image.url }}{% else %}{% static "meadery/main/ImageNotAvailable.png" %}{% endif %}" alt="{{ p.title }}" />
	</div>
	<h3>Product</h3>
	<h4>{{ p.title }} ({{ p.name }})</h4>
	{% if p.category %}
	In category: <a href="{{ curl }}">{{ cname }}</a>
	{% endif %}
	<br /><br />
	<form method="post" action="." class="cart">{% csrf_token %}
		<p>In Stock: {{ p.jars_in_stock }}</p>
		{{ form.as_p }}
		<br />
		<input type="submit" value="Add To Cart" name="submit" alt="Add To Cart" />
	</form>
	<br />
	<h3>Description</h3>
		{{ p.description }}
	<br /><br />
	<h3>Vital Statistics</h3>
		<p>Brewed: {{ p.brewed_date }} (SG: {{ p.brewed_sg }})</p>
		<p>Bottled: {{ p.bottled_date }} (SG: {{ p.bottled_sg }})</p>
		<p>Alcohol by percent volume: {{ p.abv }} %</p>

	<div class="cb"><br /><br /></div>
	<h3>Product Reviews</h3>
	{% if request.user.is_authenticated %}
	<a id="add_review">Write a Review</a>
	<div id="review_form">
		<form id="review" action="{% url 'meadery:product_add_review' %}" method="post">{% csrf_token %}
  		<div id="review_errors"></div>
 		<input id="id_slug" name="slug" value="{{ p.slug }}" type="hidden">
   		<table>
    		{{ review_form.as_table }}
    		<tr><td colspan="2">
      			<input id="submit_review" value="Submit" type="submit">
      			<a href="javascript:void(0);" id="cancel_review">Cancel</a>
    		</td></tr>
    	</table>
		</form>
	</div>
	{% else %}
	<a href="{% url 'accounts:login' %}?next={{ request.path }}">
		Log in to write your own review.
	</a>
	{% endif %}

	<div class="cb"><br /><br /></div>
	<div id="reviews">
	{% for review in product_reviews %}
		{% include 'meadery/product_review.html' %}
	{% empty %}
		<div id="no_reviews">
			No product reviews yet.
		</div>
	{% endfor %}
	</div>

	<div class="cb"><br /><br /></div>
	<h3>Related Products</h3>
		{% for p in p.cross_sells_hybrid %}
			{% include 'tags/product_thumbnail.html' %}
		{% empty %}
			No related products.
		{% endfor %}
	<div class="cb"><br /><br /></div>

{% endblock %}
